<div class="row" id="viewport">
  <div class="col-lg-6 content">
    <img src="../../assets/logo.png" alt="XPTO" class="logo" @fade />
    <p class="lead mb-3 mt-3" @fade>
      Criado para o Laboratório Dev da Prosperi
    </p>
    <a
      routerLink="/login"
      @fade
      class="btn btn-lg btn-primary px-4 text-uppercase"
      >Fazer login</a
    >
    <a routerLink="/signup" @fade class="btn btn-custom btn-lg">Criar conta</a>
  </div>
  <div class="col-lg-6">
    <lottie-player
      src="https://assets5.lottiefiles.com/packages/lf20_0cvczw8l.json"
      background="transparent"
      speed="1"
      loop
      autoplay
    ></lottie-player>
  </div>
</div>
